* {
    margin: 0;
    padding: 0;
    font-family: 'Poopins', sans-serif;
    box-sizing: border-box;
}
body {
    background: #003ea0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quiz {
    padding: 20px 30px;
    background: #fff;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.quiz h1{
    margin-bottom: 10px;
}
.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #222;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}
.btn:disabled {
    cursor: no-drop
}
#next {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    padding: 10px;
    margin: 2px auto 0;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct { 
    background: #9aeabc;
}
.incorrect {
    background: #ff9393;
}
#question {
    font-size: large;
}
